<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729788299150-d1lqbu5m63nkds3t91d6ue4kcdkrd3gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729788299150-d1lqbu5m63nkds3t91d6ue4kcdkrd3gp</string>
	<key>API_KEY</key>
	<string>AIzaSyB6KAuVVMnG_-NNvPC5v2KZCFbIsaR717A</string>
	<key>GCM_SENDER_ID</key>
	<string>729788299150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shusuke.Kikurage.stg</string>
	<key>PROJECT_ID</key>
	<string>kikurageprojectstg</string>
	<key>STORAGE_BUCKET</key>
	<string>kikurageprojectstg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729788299150:ios:a753fe7d4d226966c356df</string>
</dict>
</plist>