<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>21547782630-u9ohdp90s1g59h00j2029gjtjn0g32la.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21547782630-u9ohdp90s1g59h00j2029gjtjn0g32la</string>
	<key>API_KEY</key>
	<string>AIzaSyAKcQ5mqXjox44jZh7ZUmRbpqF2IIMonY4</string>
	<key>GCM_SENDER_ID</key>
	<string>21547782630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shusuke.KikurageApp</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-b3db1</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-b3db1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21547782630:ios:c241e5682264cac0</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-b3db1.firebaseio.com</string>
</dict>
</plist>